[include]
    ; For the [user] and [github] sections
    path = ~/.gitconfig.local
[core]
    excludesfile = ~/.gitignore.global
[color]
    ui = auto
[push]
    default = current
[diff]
    renames = true
    algorithm = patience
[branch]
    autosetupmerge = true
[url "git@github.com:"]
	insteadOf = https://github.com/
